includes:

parameters:
    level: 8
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: assign.propertyType
    paths:
        - src
    excludePaths:
        - tests
        - vendor
