parameters:
	ignoreErrors:
		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: src/Admin/Repositories/ProductRepository.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 1
			path: src/Admin/Services/OrderItemService.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Admin/Services/OrderItemService.php

		-
			message: '#^Parameter \#2 \$context of class App\\Admin\\Exceptions\\ValidationException constructor expects array\{field\?\: string\|null, value\?\: string\|null\}, non\-empty\-array\<non\-falsy\-string, array\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Admin/Services/RecipeIngredientService.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Admin/Services/UserService.php

		-
			message: '#^Parameter \#1 \$callback of function spl_autoload_register expects \(callable\(string\)\: void\)\|null, array\{\$this\(App\\Core\\Autoloader\), ''loadClass''\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Core/Autoloader.php

		-
			message: '#^Call to function method_exists\(\) with App\\Core\\Request and ''getAllBody'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Core/Router.php

		-
			message: '#^Call to function method_exists\(\) with App\\Core\\Request and ''getBody'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Core/Router.php

		-
			message: '#^Offset ''middleware'' on array\{pattern\: string, paramNames\: array, handler\: array\|\(callable\(\)\: mixed\)\} on left side of \?\? does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Core/Router.php

		-
			message: '#^Variable \$routeMiddleware in isset\(\) always exists and is always null\.$#'
			identifier: isset.variable
			count: 1
			path: src/Core/Router.php

		-
			message: '#^Property App\\Core\\Session\:\:\$csrf in empty\(\) is not falsy nor uninitialized\.$#'
			identifier: empty.initializedProperty
			count: 1
			path: src/Core/Session.php

		-
			message: '#^Parameter \#1 \$callback of function spl_autoload_register expects \(callable\(string\)\: void\)\|null, array\{\$this\(App\\DIContainer\\Autoloader\), ''loadClass''\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/DIContainer/Autoloader.php
